/*
 * SPDX-License-Identifier: AGPL-3.0-or-later
 * Copyright (c) 2025 Vincent Jardin
 *
 * Device tree overlay for Raspberry Pi Debug Probe
 * Routes console/shell to USB CDC ACM
 * Configures UART1 (GPIO4=TX, GPIO5=RX) for Bonjour output on J2 connector
 * Defines all 5 LEDs on the Debug Probe board
 */

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	leds {
		compatible = "gpio-leds";
		led_red: led_d1 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Red LED (D1)";
		};
		led_green_uart: led_d2 {
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			label = "Green LED UART (D2)";
		};
		led_yellow_uart: led_d3 {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
			label = "Yellow LED UART (D3)";
		};
		led_green_debug: led_d4 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			label = "Green LED DEBUG (D4)";
		};
		led_yellow_debug: led_d5 {
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
			label = "Yellow LED DEBUG (D5)";
		};
	};

	aliases {
		led-red = &led_red;
		led-green-uart = &led_green_uart;
		led-yellow-uart = &led_yellow_uart;
		led-green-debug = &led_green_debug;
		led-yellow-debug = &led_yellow_debug;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&pinctrl {
	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_P4>;
		};
		group2 {
			pinmux = <UART1_RX_P5>;
			input-enable;
		};
	};
};
